.c-footer {
  
  width: 100%;
  height: 200px;
  margin-bottom: 0%;
  

  background: #333333;

  &__div{

    width: fit-content;
    text-align: center;
    display: inline;
    margin: 50px;

  }

  &__div2{
    width: fit-content;
    text-align: center;
    display: inline;
  }

 
}
