@font-face{
    font-family: nueva;
    src: url(C:\Users\34622\Desktop\BC_UPGRADE\angular\SHOPEAME\src\assets\fonts\Inter\Inter-VariableFont_slnt,wght.ttf);
}
.c-all{
    background-color: #CCCCCC;
    font-family: nueva;
    width: 100%;
    
}